*.pdf
*.log
*.aux
*.bbl
*.blg
*.out
*.synctex
*.toc
/nf-anl2016.pdf
/Versuch_3-4/Versuch-4.aux
/Versuch_3-4/Versuch-3.aux
/Versuch_5-6/*.aux
/Versuch_5-6/Abbildungen/*.eps
/Versuch_9-10/*.aux
/Versuch_9-10/*.log
/Versuch_11-12/*.aux
/Versuch_11-12/*.log
/Versuch_13-14/*.aux
/Versuch_15-16/*.aux
/Versuch_17-18/*.aux
/Versuch_19-20/*.aux
/Versuch_neu_1-2/*.log
/Versuch_neu_1-2/*.aux
Versuche_neu
